@model EmployeeDTO

@{
    ViewBag.Title = SharedLocalizer["Create"];
}


<br />
<br />
<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">@SharedLocalizer["Employee"]</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">@SharedLocalizer["Employee Card"]</a></li>
                        <li class="breadcrumb-item active">@SharedLocalizer["Create"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    @*  <section class="content">
    <div class="container-fluid">

    <div class="row"> *@

    <form method="post" class="form-group" asp-action="Create" asp-controller="Employee">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">@SharedLocalizer["NE"]</h2>
                <hr />
            </div>
            <div asp-validation-summary="All" class="text-danger">
            </div>
            <div class="mb-3">
                <label asp-for="Name">@SharedLocalizer["Name"]</label>
                <input asp-for="Name" class="form-control" placeholder="Enter Your Name" />
                <span asp-validation-for="Name" class="text-danger" ></span>


            </div>
            <div class="mb-3">
                <label asp-for="Salary">@SharedLocalizer["Salary"]</label>
                <input asp-for="Salary" class="form-control" placeholder="Enter Your Salary" />
                <span asp-validation-for="Salary" class="text-danger"></span>




            </div>
            <div class="mb-3">
                <label asp-for="Email">@SharedLocalizer["Email"]</label>
                <input asp-for="Email" class="form-control" placeholder="Enter Your Email" />


                
                <span asp-validation-for="Email" class="text-danger"></span>





            </div>
            <div class="mb-3">
                <label asp-for="HireDate">@SharedLocalizer["HireDate"]</label>
                <input asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>




            </div>
            <div class="mb-3">
                <label asp-for="CreationDate">@SharedLocalizer["CreationDate"]</label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>




            </div>
            <div class="mb-3">
                <label asp-for="DepartmentId">@SharedLocalizer["Departments"]</label>

                <select asp-for="DepartmentId" class="form-control" asp-items="(SelectList)ViewBag.DepartmentList">
                    <option>--Select--</option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>




            </div>
            <div class="mb-3">
                <label for="CountryList">@SharedLocalizer["Country"]</label>

                <select id="CountryList" class="form-control" asp-items="(SelectList)ViewBag.CountryList">
                    <option>--Select--</option>
                </select>
@*                 <span asp-validation-for="DepartmentId" class="text-danger"></span>
 *@



            </div>
            <div class="mb-3">
                <label for="CityList">@SharedLocalizer["City"]</label>

                <select id="CityList" class="form-control">
                    <option>--Select--</option>
                </select>
                @*                 <span asp-validation-for="DepartmentId" class="text-danger"></span>
                *@



            </div>
            <div class="mb-3">
                <label asp-for="DistrictId">@SharedLocalizer["District"]</label>

                <select asp-for="DistrictId" class="form-control">
                    <option>--Select--</option>
                </select>
                <span asp-validation-for="DistrictId" class="text-danger"></span>




            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" checked asp-for="IsActive">
                <label class="form-check-label" asp-for="IsActive">Is Active</label>
            </div>
          



            <br />
            <input type="submit" class="btn btn-primary" value=@SharedLocalizer["Save"] />

            <a asp-controller="Employee" asp-action="Index" class="btn btn-danger" style="width=150px;">@SharedLocalizer["BTI"]</a>



        </div>

    </form>
    @*  </div>
    </div>

    </section> *@


</div>

@section JqueryValidation {
    <script src="~/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(function () {



            $("#CountryList").change(function () {


                var countryId = $("#CountryList option:selected").val();

                $("#CityList").empty();
                $("#CityList").append(`<option>--select--</option>`);


                $.ajax({

                    type: "Post",
                    //url: "/employee/GetCitiesDataByCountryId?cntryId=" + countryId +""
                    url: "/employee/GetCitiesByCntryId",
                    data: { cntryid: countryId },
                    success: function (res) {

                        console.log(res);

                        $.each(res, function (i, e) {

                            $("#CityList").append(`<option value=${e.Id}>${e.Name}</option>`);

                        });
                    }


                });



            });
            $("#CityList").change(function () {


                var cityId = $("#CityList option:selected").val();

                $("#DistrictId").empty();
                $("#DistrictId").append(`<option>--select--</option>`);


                $.ajax({

                    type: "Post",
                    //url: "/employee/GetCitiesDataByCountryId?cntryId=" + countryId +""
                    url: "/employee/GetDistrictsByCityId",
                    data: { cityid: cityId },
                    success: function (res) {

                        console.log(res);

                        $.each(res, function (i, e) {

                            $("#DistrictId").append(`<option value=${e.Id}>${e.Name}</option>`);

                        });
                    }


                });



            });

        });

    </script>
}
