@model IEnumerable<EmployeeDTO>
@inject SignInManager<ApplicationUser> _signinmanager


@{
    ViewBag.Title= SharedLocalizer["Employee"];
}

@section DataTableStyles{
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}


<br /><br />
<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">@SharedLocalizer["Dashboard"]</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">@SharedLocalizer["Employee"]</a></li>
                        <li class="breadcrumb-item active">@SharedLocalizer["Dashboardv1"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <section class="content">
        <div class="container-fluid">

            <div class="row">

                <div class="col-5">

                    <h3>@SharedLocalizer["EmployeeView"]</h3>
                </div>
               @*  <div class="col-5">

                    <form asp-controller="Employee" asp-action="Index" class="form-group">
                        <div class="inline-form-group">
                            <input type="text" name="SearchValue" class="form-control" />
                            <input type="submit" value=@SharedLocalizer["Search"] class="btn btn-danger" />
                        </div>
                    </form>
                </div> *@
                <div class="col-3"></div>
                <div class="col-4">
                    @if (_signinmanager.IsSignedIn(User) && !(User.IsInRole("HR"))){
                    <a asp-controller="Employee" asp-action="Create" class="btn btn-outline-primary">
                        <i class="fa-solid fa-plus"></i>&nbsp; @SharedLocalizer["CNE"]
                    </a>
                    }
                </div>

            </div>
        </div>

        <center>
            <div class="card-body">
                <table id="Employees" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                            <th> @SharedLocalizer["ID"]</th>
                        <th>
                            @SharedLocalizer["Name"]
                        </th>
                        <th>
                            @SharedLocalizer["Salary"]
                          
                        </th>
                        <th>@SharedLocalizer["Email"]</th>
                        <th>@SharedLocalizer["HireDate"]</th>
                        <th>@SharedLocalizer["Department"]</th>
                        <th>@SharedLocalizer["Country"]</th>
                        <th>@SharedLocalizer["City"]</th>
                        <th>@SharedLocalizer["District"]</th>
                      @*   <th>Image</th>
                        <th>Cv</th> *@
                            <th>@SharedLocalizer["Actions"]</th>




                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Salary
                            </td>

                            <td>
                                @item.Email
                            </td>

                            <td>
                                @item.HireDate.ToShortDateString()
                            </td>
                            <td>
                                @item.DepartmentName
                            </td>
                            <td>
                                @item.CountryName
                            </td>
                            <td>
                                @item.CityName
                            </td>
                            <td>
                                @item.DistrictName
                            </td>
                           
                           
                               @*  <td>
                                    <img src="~/Docs/Photos/@item.PhotoName" width="50" height="50" />
                                </td>
                                <td>
                                    <a href="~/Docs/Cvs/@item.CvName" download="download" target="_blank">
                                        Download Cv
                                    </a>
                                </td> *@
                            <td>
                                @* <a class="btn btn-outline-success" asp-action="Update" asp-controller="Employee" asp-route-Id="@item.Id">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                                &nbsp;
                                <a class="btn btn-outline-danger" asp-action="Delete" asp-controller="Employee" asp-route-Id="@item.Id">
                                    <i class="fa-solid fa-trash-can"></i>

                                </a>
                                &nbsp;
                                <a class="btn btn-outline-danger" asp-action="Details" asp-controller="Employee" asp-route-Id="@item.Id">
                                    <i class="fa-solid fa-info"></i>
                                </a> *@

                            </td>
                        </tr>

                    }
                </tbody>

            </table>
           
            </div>
            <!-- /.card-body -->
        </center>
    </section>

</div>
@section DataTableScripts{
    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>
        $(function () {
            $(function () {
                var dataTable = $('#Employees').dataTable({
                    "processing": false,
                    "serverSide": true,
                    "responsive": true,
                    "lengthChange": true,
                    "autoWidth": false,
                    "paging": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "buttons": [
                        'copy', 'csv', 'excel', 'pdf', 'print', 'colvis'
                    ],
                    "ajax": {
                        "url": "/Employee/GetData",
                        "type": "POST",
                        "data": "JSON"

                        // "data": function (data) {
                        //     data.pageNumber = data.start / data.length + 1;
                        //     data.pageSize = data.length;
                        //     return data;
                        // }
                    },
                    "columns": [
                        { "data": "Id", "name": "Id", "autowidth": true, "visible": false }, // 0
                        { "data": "Name", "name": "Name", "autowidth": true }, // 1
                        { "data": "Salary", "name": "Salary", "autowidth": true }, // 2
                        { "data": "Email", "name": "Email", "autowidth": true },// 3
                        {
                            "data": "HireDate",
                            "name": "HireDate",
                            "autowidth": true,
                            "render": function (data, type, row) {
                                var hireDate = new Date(data);
                                var hireDateString = hireDate.toLocaleDateString();
                                return hireDateString;
                            }
                        },
                        { "data": "DepartmentName", "name": "DepartmentName", "autowidth": true },// 5
                        { "data": "CountryName", "name": "CountryName", "autowidth": true },// 6
                        { "data": "CityName", "name": "CityName", "autowidth": true },// 7
                        { "data": "DistrictName", "name": "DistrictName", "autowidth": true },//8
                        // { "data": "PhotoName", "name": "PhotoName", "autowidth": true },//9
                        // { "data": "CvName", "name": "CvName", "autowidth": true },//10

                        // {
                        //     "data": "PhotoName",
                        //     "render": function (data, type, row) {
                        //         return '<img src="' + data + '" width="100" height="100" />';
                        //     }
                        // },
                        // {
                        //     "data": "CvName",
                        //     "render": function (data, type, row) {
                        //         return '<a href="' + data + '" target="_blank">View CV</a>';
                        //     }
                        // },




                        {
                            "data": null, // We're not binding data directly to this column
                            "render": function (data, type, row) { // 3
                                return '<div class="dropdown">' +
                                    '<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions</button>' +
                                    '<div class="dropdown-menu">' +
                                    '<a href="#" class="dropdown-item update-employee" data-id="' + row.Id + '">Update</a>' +
                                    '<a href="#" class="dropdown-item delete-employee" data-id="' + row.Id + '">Delete</a>' +
                                    '<a href="#" class="dropdown-item details-employee" data-id="' + row.Id + '">Details</a>' +
                                    '</div>' +
                                    '</div>';
                            },
                            searchable: false,
                            orderable: false,
                            "autowidth": true

                        }
                    ],
                    // 'Blfrtip'
                    "dom": "<'row'<'col-sm-2'l><'col-sm-2'><'col-sm-4'B><'col-sm-4'f>>"+
                            "<'row'<'col-sm-12'tr>>"+
                            "<'row'<'col-sm-3'i><'col-sm-3'><'col-sm-6'p>>"
                
                    ,
                    "buttons": [
                        { extend: 'copy',
                            exportOptions: {
                                columns: [0, 1, 2, 3, 4, 5, 6, 7, 8],
                            },

                        },
                       
                        {
                            extend: 'excel',
                            exportOptions: {
                                columns: [0,1, 2, 3, 4, 5, 6, 7, 8],
                            },

                        },
                        {
                            extend:'pdf',
                            titleAttr:'Download PDF',
                            orientation:'landscape',
                            className:'downloadPDF',
                            exportOptions:{
                                columns:[1,2,3,4,5,6,7,8],
                            },
                        },{
                            extend:'print',
                            exportOptions:{
                                columns:[1,2,3,4,5,6,7,8],
                            },

                        },


                        
                        {
                            extend:'colvis',
                        }
                    ]
                });


                // Handle click events for Update, Delete, and Details links
                $('#Employees').on('click', '.update-employee', function (e) {
                    e.preventDefault();
                    var employeeId = $(this).data('id');
                    // Redirect to the Update action with the employeeId
                    window.location.href = '/Employee/Update/' + employeeId;
                });

                $('#Employees').on('click', '.delete-employee', function (e) {
                    e.preventDefault();
                    var employeeId = $(this).data('id');
                    // Redirect to the Delete action with the employeeId
                    window.location.href = '/Employee/Delete/' + employeeId;
                });

                $('#Employees').on('click', '.details-employee', function (e) {
                    e.preventDefault();
                    var employeeId = $(this).data('id');
                    // Redirect to the Details action with the employeeId
                    window.location.href = '/Employee/Details/' + employeeId;
                });

            });

           
        });
    </script>
}
