@model LoginDTO
@{
    Layout = "~/Views/Layout/_Layout2.cshtml";
    ViewBag.Title = "Login";
}
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form asp-controller="Account" asp-action="Login" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
  

@*                     <p>@ViewBag.ErrorTitle</p>
 *@
      
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" asp-for="RememberMe">
                                <label asp-for="RememberMe">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <input type="submit" class="btn btn-primary btn-block" value="Sign In" style="margin-bottom:15px" />

                        </div>
                        <!-- /.col -->
                    </div>
                </form>

              @*   <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                </div> *@
                <!-- /.social-auth-links -->

                <div>
                    
                        @if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>No external logins configured</div>
                        }
                        else

                        {
                            <form method="post" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                                <div>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        @if (provider.DisplayName == "Facebook")
                                        {
                                            <button type="submit" class="btn btn-block btn-primary"
                                            name="provider" value="@provider.Name"
                                            title="Sign using your @provider.DisplayName">
                                                <i class="fab fa-facebook mr-2"></i>Sign In Using @provider.DisplayName
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-block btn-danger"
                                                    name="provider" value="@provider.Name"
                                                    title="Sign using your @provider.DisplayName">
                                                <i class="fab fa-google-plus mr-2"></i>Sign In Using @provider.DisplayName
                                            </button>
                                        }
                                       
                                    }
                                </div>
                            </form>
                        
                    }
                </div>
                <p class="mb-1">
                    <a asp-controller="Account" asp-action="ForgetPassword">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a asp-controller="Account" asp-action="Registration" class="text-center">Register a new membership</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    </body>
