@model IEnumerable<DepartmentDTO>

@{
    ViewBag.Title = SharedLocalizer["Department"];
}





<br />
<br />
<div class="content-wrapper">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">@SharedLocalizer["Dashboard"]</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">@SharedLocalizer["Dashboardv1"]</a></li>
                       
                        <li class="breadcrumb-item active">@SharedLocalizer["Department"] </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>



    <section class="content">
        <div class="container-fluid">

            <div class="row">
       
        <div class="col-6">

                    <h3>@SharedLocalizer["Departmentview"]</h3>
        </div>
      @*   <div class="col-5">

                    <form asp-controller="Department" asp-action="Index" class="form-group">
                        <div class="inline-form-group">
                            <input type="text" name="SearchValue" class="form-control" />
                            <input type="submit" value=@SharedLocalizer["Search"] class="btn btn-danger" />
                        </div>
                    </form>
        </div> *@
        <div class="col-2"></div>
        <div class="col-4">
                    <a asp-controller="Department" asp-action="Create" class="btn btn-outline-primary">
                        <i class="fa-solid fa-plus"></i>&nbsp; @SharedLocalizer["CND"]
            </a>
        </div>
       
    </div>
</div>
<center>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            @* <th>
                            @SharedLocalizer["ID"]
                        </th> *@
            <th>
                            @SharedLocalizer["Name"]
            </th>
                        <th>@SharedLocalizer["Code"]</th>
                        <th>@SharedLocalizer["NOE"]</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               @*  <td>
                    @item.Id
                </td> *@
                <td>
                    @item.Name
                </td>

                <td>
                    @item.Code
                </td>
               
                <td>
                    @item.NoOfEmp
                </td>
                <td>
                    <a class="btn btn-outline-success" asp-action="Update" asp-controller="Department" asp-route-Id="@item.Id">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    &nbsp;
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-controller="Department" asp-route-Id="@item.Id">
                        <i class="fa-solid fa-trash-can"></i>

                    </a>
                                &nbsp;
                                <a class="btn btn-outline-danger" asp-action="Details" asp-controller="Department" asp-route-Id="@item.Id">
                                    <i class="fa-solid fa-info"></i>
                                </a>

                </td>
            </tr>

        }
    </tbody>

</table>
    </center>
    </section>
</div>


